.djgzTitle{
    overflow:hidden;
    text-overflow:ellipsis;

    display:box;
    display:-webkit-box;          
    display:-moz-box;
    
    box-orient:vertical;
    -webkit-box-orient:vertical;
    -moz-box-orient:vertical;
    
    line-clamp:2;
    -webkit-line-clamp:2;
    -moz-line-clamp:2;
}
.djgzTitleInPicture{
    overflow:hidden;
    text-overflow:ellipsis;
      
    box-orient:vertical;
    -webkit-box-orient:vertical;
    -moz-box-orient:vertical;
    
    line-clamp:2;
    -webkit-line-clamp:2;
    -moz-line-clamp:2;

  @media (min-width: 1024px) {
    display:box !important;
    display:-webkit-box;          
    display:-moz-box;}
}