.tzggTime {
  border: 2px solid rgba(41, 32, 97, 1);
  white-space: nowrap;
  text-align: center;
  border-radius: 3px;
  margin-right: 5px;
  font-size: 12px;
  font-family: Roboto;
  width: 34px;
}

.tzggMonth {
  background-color: rgba(41, 32, 97, 1);
  color: white;
  height: 50%;
}

.tzggDate {
  background-color: white;
  color: rgba(41, 32, 97, 1);
  height: 50%;
}
