.xyxwTitle{
  overflow:hidden;
  text-overflow:ellipsis;
  
  display:flex;
  display:-webkit-box;          
  display:-moz-box;
  
  box-orient:vertical;
  -webkit-box-orient:vertical;
  -moz-box-orient:vertical;
  
  line-clamp:2;
  -webkit-line-clamp:2;
  -moz-line-clamp:2;
    
}
